*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
}

body {
    width: 450px;
}

header {
    width: 100%;
    height: 10%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

header .logo {
    width: 20%;
    height: 90%;
    margin-left: 5%;
}

header .menu {
    width: 10%;
    height: 90%;
    margin-right: 5%;
}

.main {
    width: 100%;
    /* margin: 0 auto 0 auto; */
}

main .desktop {
    display: none;
}

main .mobile {
    width: 100%;
    margin: 5% 0 5% 0;
}

main h1 {
    font-size: 50px;
    text-align: center;
}

main p {
    font-size: 20px;
    text-align: center;
    line-height: 1.2;
    margin: 5% 0 0 0;
}

main button {
    width: 40%;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    margin: 5% 125px;
}

footer {
    margin: 3%  0;
}

footer .footer-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-images img {
    height: 90%;
    margin: auto;
}

.attribution { 
    font-size: 11px;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}